/*<!--we want to use this font for all <p> </p> text.-->*/
p {
  font-family: 'Droid Sans', sans-serif;
}




/*[Jerry] add for NAVBAR */
.navbar {

  background-color: #242424;
  border-bottom: 1px solid #b9b9b9;
  font-family: 'Lato', sans-serif;
}

/*[Jerry] add for NAVBAR link */
.navbar a {
  color: #cccccc !important;/*use !import to overwrite the setting of bootstrap*/
}

/*[Jerry] add for NAVBAR link when hover */
.navbar a:hover{

  color: #ffffff !important;
  background-color: #646464 !important;
}
/*[Jerry] make LOGO more stand out a little better. */
/*because we have <a class="navbar-brand" herf="#">Brand LOGO</a> inside the navbar-header */
.navbar-header .navbar-brand{
  color: white !important;
  font-size: 1.5em;
}

/*HEADER, original header will be covered by navber a little bit.*/
.header {
  padding: 140px 0 60px 0 ;
  background: url(../img/bg.jpg) no-repeat center center;
  background-size: cover;
  width:100%;
  border-bottom: 2px solid #c9c9c9;/*separate the other section.*/
}

/*because above, we add the dark background pic, we need light up our text*/
.header h1{
  color: white;
  font-family: 'Pacifico', cursive;/*font from google*/
  font-size: 7.5em;/*bigger*/

}

.header p{
  color: white;
  font-size: 1.3em;/*bigger*/

}

.header .btn{
  padding: 5px 50px 5px 50px;
  /*border-radius: 0;*/
}
