/*<!--we want to use this font for all <p> </p> text.-->*/
p, h1{
  font-family: 'Droid Sans', sans-serif;
}




/*[Jerry] add for NAVBAR */
.navbar {

  background-color: #242424;
  border-bottom: 1px solid #b9b9b9;
  font-family: 'Lato', sans-serif;
}

/*[Jerry] add for NAVBAR link */
.navbar a {
  color: #cccccc !important;/*use !import to overwrite the setting of bootstrap*/
}

/*[Jerry] add for NAVBAR link when hover */
.navbar a:hover{

  color: #ffffff !important;
  background-color: #646464 !important;
}
/*[Jerry] make LOGO more stand out a little better. */
/*because we have <a class="navbar-brand" herf="#">Brand LOGO</a> inside the navbar-header */
.navbar-header .navbar-brand{
  color: white !important;
  font-size: 1.5em;
}

/*HEADER, original header will be covered by navber a little bit.*/
.header {
  padding: 140px 0 60px 0 ;
  background: url(../img/bg.jpg) no-repeat center center;
  background-size: cover;
  width:100%;
  border-bottom: 2px solid #c9c9c9;/*separate the other section.*/
}

/*because above, we add the dark background pic, we need light up our text*/
.header h1{
  color: white;
  font-family: 'Pacifico', cursive;/*font from google*/
  font-size: 7.5em;/*bigger*/

}

.header p{
  color: white;
  font-size: 1.3em;/*bigger*/

}

.header .btn{
  padding: 5px 50px 5px 50px;
  /*border-radius: 0;*/
}

/*Because when screen really small, still the header h1 wording will not become smaller*/
/*and the header btn will not list side by side anymore*/
/*we use below setting up to width 768*/
@media(max-width:768px) {

 .header {
  text-align:center;
  padding-top: 20%;
 }

 .header h1 {
 font-size:5em;
 }

 .header p {
  font-size:1em;
 }

 .header .btn {
  padding: 5px 12px 5px 12px;
 }

 .header img {
  padding-top:10%;
 }

}

/*[Jerry] ABOUT section */

.about {
 padding: 100px 0 100px;
 text-align: center;
}

.about h1 {
 font-size: 1.8em;
 color: #337ab7;
 padding: 0 0 25px;
}

.about p {
 padding-bottom:25px;
}

/*FEATURES*/
.features {
 background-color: #337ab7;
 text-align:center;
 color:white;
 padding:90px 0 90px;
}

.features h1 {
 font-size:2em;
 padding-bottom:25px;
}
/* because when screen become small, the img will too close.*/
.features img {
 padding:15px 0 35px;
}

/*PRESS*/

.press {
 padding:90px 0 90px;
 text-align:center;
}

.press h1 {
 font-size:1.8em;
 padding-bottom:25px;
 color:#337ab7;
}

/*change the img effect*/
.press .press-logo li img {
 opacity:0.3; /*0 is totally opacity*/
 padding-bottom:25px;
}
.press .press-logo li:hover img {
 opacity:1;
}

/*SCREENS*/

.screenshots {
 background-color:#235178;
 padding:90px 0 90px;
 text-align:center;
 color:white;
}

.screenshots img {
 padding: 20px 0 20px;
}

.screenshots h1 {
 font-size:2em;
}
